//sacoLoPredeterminado
*{padding: 0; 
    margin: 0;
    border: 0ch;
}

//*variables
$h1FontFamily:'Arima Madurai', cursive;//fuente
$fontColor: black;

.encabezado{//header
    height: 4rem;
    width: 100%;
    background-color:#FFD687 ;//fondoHeader
    display: flex;
    justify-content: space-between;
    position:sticky;//encabezadoFijo
    top: 0;
    z-index: 1030;
    padding-right: 3rem;
    padding-left: 3rem;
    .logo {
        padding: 5px;
        margin-left:5vw;
    }
    .bg-light { //menuDeNavegacion
        background-color:#FFD687 !important;
    }
    .navbar-light {
        .navbar-toggler {
            color:$fontColor;
        }
        .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
            color: $fontColor;
            font-size: 16px;
        }
    }
    ul {
        list-style: none;//sacaViñetaLista
        display: flex;
        justify-content:space-around;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        background-color: #FFD687;
    }
    a {text-decoration: none; /*sacaSubrayadoTodosA*/
        display: flex;
        justify-content: space-between;
    }
 } //terminaMenuNavegacion
//cierraHeader


//estilosSection1
.section1{
    background-color:#89D1D9;
    .bienvenidos{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color:#BF0A3A;
            font-family: $h1FontFamily;
        }
        .btn{
            height: 30px;
            width: 150 px;
            a{
                text-decoration: none;
            }

        }
    }
}
.section2{
    h3{
        text-align: center;
    }
    .inscripcion{
        display: flex;
        justify-content: space-around;
    }



}

