@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0ch;
}
* h3 {
  color: #FEB500;
  font-family: "Ultra", serif;
  font-weight: 400;
  font-size: 3.2vw;
  letter-spacing: 3px;
  padding-bottom: 7.5vh;
  padding-top: 7.5vh;
  text-align: center;
}

.mainHeader {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FACCCC;
  padding: 0 0.4rem;
}

.mainLogo {
  width: 3.4em;
  height: auto;
}

.mainNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  background: rgba(250, 204, 204, 0.7);
}

.mainNav.show {
  margin-left: 0;
}

.navLinks {
  background: #FACCCC;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35vw;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.linkItem {
  color: #FEB500;
  text-decoration: none;
  font: "Noto sans";
  font-weight: bold;
  font-size: 3.3vw;
  position: relative;
}

.buttonMenu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* 
  Dibujamos una línea recta por cada span creando el tipico menu hamburguesa
*/
.buttonMenu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #FEB500;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

/* 
  con los span dibujamos un icono de cerrar 
  para mostrar cuándo la navegación este abierta 
*/
.buttonMenu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  color: #FEB500;
  background: #FEB500;
}

.buttonMenu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.buttonMenu.close span:nth-child(3) {
  display: none;
}

.section1 {
  background: rgba(254, 181, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10vh 5vw;
}
.section1 #bienvenidos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section1 #bienvenidos h1 {
  color: #FEB500;
  font-family: "Ultra", serif;
  font-weight: 400;
  font-size: 3.5vw;
  letter-spacing: 3px;
  padding-bottom: 7.5vh;
}
.section1 #bienvenidos p {
  font-size: 1.3vw;
  font-family: "Noto sans";
  font-style: normal;
  line-height: 30px;
  text-align: left;
  padding-bottom: 12vh;
}
.section1 #bienvenidos .btn {
  height: 5.3vh;
  width: 12vw;
  border-radius: 25.5px;
  background-color: #FEB500;
}
.section1 #bienvenidos .btn a {
  text-decoration: none;
  font-family: "Noto sans";
  font-size: 1.2em;
  color: black;
}
.section1 img {
  max-width: 50vw;
  height: auto;
}

.section2 {
  background: rgba(254, 181, 0, 0.1);
}
.section2 .inscripcion {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section2 .inscribite {
  display: flex;
  justify-content: center;
}
.section2 .inscribite button {
  height: 5.3vh;
  width: 12vw;
  border-radius: 25.5px;
  background-color: #FEB500;
  align-self: center;
}
.section2 .inscribite button a {
  text-decoration: none;
  font-family: "Noto sans";
  font-size: 1.2em;
  color: black;
}

.section3 {
  background: rgba(254, 181, 0, 0.1);
  padding: 10vh 5vw;
}
.section3 #aprendamos {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section3 #aprendamos img {
  max-width: 30vw;
  height: auto;
  padding-left: 8vw;
}
.section3 #aprendamos #aprendiendo p {
  font-size: 1.3vw;
  font-family: "Noto sans";
  font-style: normal;
  line-height: 30px;
  text-align: left;
  padding-bottom: 12vh;
}
.section3 #aprendamos #aprendiendo #button {
  display: flex;
  justify-content: center;
}
.section3 #aprendamos #aprendiendo #button button {
  height: 5.3vh;
  width: 12vw;
  border-radius: 25.5px;
  background-color: #FEB500;
  align-self: center;
}
.section3 #aprendamos #aprendiendo #button button a {
  text-decoration: none;
  font-family: "Noto sans";
  font-size: 1.2em;
  color: black;
}

.section4 {
  background: #feb5001a;
  padding: 10vh 5vw;
}
.section4 .clases {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section4 .clases .niveles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4 .clases .niveles h4 {
  color: #FEB500;
  font-family: "Ultra", serif;
  font-weight: 100;
  font-size: 1.8vw;
}
.section4 .inscribite {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}
.section4 .inscribite button {
  height: 5.3vh;
  width: 12vw;
  border-radius: 25.5px;
  background-color: #FEB500;
  align-self: center;
}
.section4 .inscribite button a {
  text-decoration: none;
  font-family: "Noto sans";
  font-size: 1.2em;
  color: black;
}

.section5 {
  background: #feb5001a;
  padding: 10vh 5vw;
}
.section5 #equipo1 {
  display: flex;
  flex-direction: row-reverse;
}
.section5 #equipo1 #profes p {
  font-size: 1.3vw;
  font-family: "Noto sans";
  font-style: normal;
  line-height: 30px;
  text-align: left;
  padding-bottom: 12vh;
}
.section5 #equipo1 #profes #button {
  display: flex;
  justify-content: center;
}
.section5 #equipo1 #profes #button button {
  height: 5.3vh;
  width: 12vw;
  border-radius: 25.5px;
  background-color: #FEB500;
  align-self: center;
}
.section5 #equipo1 #profes #button button a {
  text-decoration: none;
  font-family: "Noto sans";
  font-size: 1.2em;
  color: black;
}
.section5 #equipo1 #equipoImagen {
  padding-right: 8vw;
  width: 55%;
  height: auto;
}
.section5 #especialistas {
  display: flex;
  flex-direction: column;
}
.section5 #especialistas #profesEspecialistas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section5 #especialistas #profesEspecialistas #cardProfes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section5 #especialistas #profesEspecialistas #cardProfes h4 {
  color: #FEB500;
  font-family: "Ultra", serif;
  font-weight: 100;
  font-size: 1.8vw;
  padding-top: 5vh;
  text-align: center;
}
.section5 #especialistas #profesEspecialistas #cardProfes p {
  font-size: 15px;
  width: 249px;
  font-family: "Noto sans";
  text-align: center;
}/*# sourceMappingURL=styles.css.map */